<div class="col-md-6">
  <h2 class="text-center">Edit Address</h2>
  <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
    

    <div class="form-group">
      <label for="first_name">First Name:</label>
      <input formControlName="first_name" placeholder="First Name" name="first_name" class="form-control" id="first_name">
      <div class="alert alert-danger" *ngIf="editForm.controls.first_name.touched && !editForm.controls.first_name.valid">
        <div *ngIf="editForm.controls.first_name.errors.required"><label>First Name is required</label></div>
        <div *ngIf="editForm.controls.first_name.errors.pattern"><label>Enter a valid name</label></div>
    </div>
    </div>

    <div class="form-group">
      <label for="last_name">Last Name:</label>
      <input formControlName="last_name" placeholder="Last name" name="last_name" class="form-control" id="last_name">
      <div class="alert alert-danger" *ngIf="editForm.controls.last_name.touched && !editForm.controls.last_name.valid">
        <div *ngIf="editForm.controls.last_name.errors.required"><label>Last Name is required</label></div>
        <div *ngIf="editForm.controls.last_name.errors.pattern"><label>Enter a valid name</label></div>
    </div>
    </div>

    <div class="form-group">
      <label for="email">Email address:</label>
      <input type="email" formControlName="email" placeholder="Email" name="email" class="form-control" id="email">
      <div class="alert alert-danger" *ngIf="!editForm.controls.email.valid && (editForm.controls.email.touched || editForm.controls.email.dirty)">
        <div *ngIf="editForm.controls.email.errors.required"><label>Email is required</label></div>
        <div *ngIf="editForm.controls.email.errors.pattern">Email must be a valid email address</div>
    </div>
    </div>

    <div class="form-group">
      <label for="phone_number">Phone Number:</label>
      <input type="tel" formControlName="phone_number" placeholder="Phone Number" name="phone_number" class="form-control" id="phone_number">
      <div class="alert alert-danger" *ngIf="editForm.controls.phone_number.touched && !editForm.controls.phone_number.valid">
        <div *ngIf="editForm.controls.phone_number.errors.required"><label>Phone Number is required</label></div>
        <div *ngIf="editForm.controls.phone_number.errors.pattern"><label>Enter a valid phone number</label></div>
    </div>
    </div>

    <button class="btn btn-success" [disabled]="!editForm.valid">Update</button>
  </form>
</div>
